{% extends "vask/basic.html" %}

{% block nextcontent %}

<h2>Coolshit</h2>



<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title pull-left">
                    <div style="margin:10px">
                    <div class="row">
                        <div class="col-sm">
                        <p style="margin-left:10px;margin-top:3px;vertical-align: middle;font-size: 20px;" >Autocomplete</p>
                        </div>
                        <div class="col-sm" style="text-align:right">
                        <a class="btn btn-outline-secondary" href="http://127.0.0.1:8000/media/Autocomplete.zip">Download</a>
                        </div>
                    </div>
                    </div>

                 </div>


            </div>

            <div class="box-content" style="padding:0px">
                <div class="row">
                   <div class="col-sm-4">
                       <img src="http://127.0.0.1:8000/media/demo.png" style="height:300px">
                   </div>
                    <div class="col-lg-4" style="padding:10px">
                        <h3 style="padding-top:15px">Beskrivelse:</h3>
                        <p style="margin-bottom:0px">Dansk Autocompleter baseret på gyldendals ordbog.</p>
                        <p>Skriv mindst tre bokstaver og få en liste over alle ord i den danske ordbog der starter med dem.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock nextcontent %}