{% extends "vask/header.html" %}

{% block content %}
<div class="container-fluid" style="min-height:95%; ">
    <div class="row">

    <hr>
    <div class="row">
        <div class="col-sm-12">
            <center>
            <h1>Forside</h1>
            </center>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-12" style="margin-top:25px">
          <center>
            <button class="btn btn-info" style="width:200px;height:100px;font-size:20px" type="button">Sønderhus vask 1</button>
            <button class="btn btn-info" style="width:200px;height:100px;font-size:20px" type="button">Sønderhus vask 2</button>
            <button class="btn btn-info" style="width:200px;height:100px;font-size:20px" type="button">Sønderhus vask 3</button>
          </center>
      </div>
    </div>
    <div class="row">

        <div class="col-sm-12" style="margin-top:25px">
            <center>
                <button class="btn btn-info" style="width:200px;height:100px;font-size:20px" type="button">Damgårdens vask</button>
                <button class="btn btn-info" style="width:200px;height:100px;font-size:20px" type="button">Reserver tid</button>
                <button class="btn btn-info" style="width:200px;height:100px;font-size:20px" type="button">Slet tid</button>
            </center>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-12" style="margin-top:25px">
            <center>
                <button class="btn btn-info" style="width:200px;height:100px;font-size:20px" type="button">Logind</button>
            </center>
        </div>
    </div>

</div>
</div>

<footer>
    <div class="container-fluid" style='margin-left:15px'>
    </div>
</footer>
{% endblock %}