{% extends "vask/basic.html" %}

{% block nextcontent %}

{% for urtid in tabel %}


    <div class="row" style=" padding-left: 0px !important; height: 60px !important;">
	 <div class="col-sm-8" style="padding-top: -30px !important;">

                <h5 style="margin-bottom:-25px">{{ urtid }}</h5>
            <hr style="margin-bottom:0px;margin-left: 70px">
        </div>
            {% for tid in tider %}
                {% ifequal tid.maskine navn %}
                    {% if tid.starttid == urtid %}
                        <div class="col-sm-6" style="background-color:{{ tid.color }};padding: 0px; height: {{ tid.columnlen }}px !important;margin-left: 120px !important;margin-right:50px">

                                    <h5 style="padding-left: 8px !important;padding-top:8px !important;margin:0px"> {{ tid.usr }} </h5>
                                    <p style="padding-left: 8px !important;">{{ tid.starttid }} - {{ tid.sluttid }}</p>
                        </div>
                    {% endif %}
                {% endifequal %}
            {% endfor %}

    </div>

{% endfor %}


{% endblock nextcontent %}
